body{
    background-color: black; 
    color: whitesmoke;
    text-align: center; 
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

#input-text{
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    margin: 40px;
    width: 310px;
}

input::placeholder {
    margin-top: 0px;
    color:rgb(134, 19, 145);
    font-size: 1.5em;
    font-weight: bold;
}